@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@300;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Commissioner", sans-serif;
  font-size: 14px;
  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%);
  --Black: hsl(0, 0%, 0%);
  --Dark-gray: hsl(0, 0%, 48%);
}
ul,
ol {
  list-style-type: none;
}
body {
  overflow-x: hidden;
}
img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

main {
  background-color: #f9f9f9;
}

.hero {
  background-image: url("./images/image-hero-mobile.jpg");
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background: hsl(209, 23%, 22%);
  margin-bottom: 1.5rem;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1.5rem 1rem;
}
.header__heading {
  font-size: 1.2rem;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 auto;
}

.nav {
  position: absolute;
  display: flex;
  top: 40px;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
  justify-content: center;
  z-index: 1000;
}

.nav_menu__close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}

.overlay {
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.5;
  z-index: 999;
}

.nav__list {
  display: flex;
  height: fit-content;
  background-color: white;
  flex-direction: column;
  width: 280px;
  justify-content: center;
  padding: 0.5rem 0;
  border-radius: 5px;
}

.nav__item {
  text-align: center;
  padding: 1rem;
  text-align: left;
  padding: 1.25rem;
}
.nav__item:not(:last-of-type) {
  border-bottom: 0.5px solid var(--Dark-gray);
  text-align: left;
}
.nav_link {
  text-decoration: none;
  font-weight: 700;
  color: var(--Black);
  font-size: 1rem;
}

.nav--closed {
  display: none;
}
.model--closed {
  display: none !important;
}

.project-modal {
  position: absolute;
  top: 40px;
  z-index: 1000;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
  height: 90vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Inline #1 | http://localhost:3000/ */

.project-modal__container {
  background-color: aliceblue;
  padding: 1rem;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.mc-rewards__text-box {
  margin-bottom: 1rem;
}

.mc-rewards__flex-con {
  display: flex;
  justify-content: space-between;
}

.mc-rewards__title {
  padding: 0.5rem 0;
}

.mc-rewards__text {
  color: var(--Dark-gray);
  margin: 1rem 0;
}

.mc-rewards__item {
  margin: 1.25rem 0;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.mc-rewards__item--selected {
  border: 2px solid var(--Moderate-cyan);
}
.mc-rewards__indicator {
  height: 20px;
  width: 20px;
  position: relative;
  border: 1px solid var(--Dark-gray);
  border-radius: 50%;
  margin-right: 1rem;
}

.mc-rewards__box {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.mc-rewards__pledge {
  color: var(--Moderate-cyan);
}

.mc-rewards__item p {
  color: var(--Dark-gray);
}

.mc-rewards__quantity {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.mc-rewards__quantity-value {
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
  padding-right: 1rem;
}

.mc-rewards__item--selected .mc-rewards__indicator::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: var(--Moderate-cyan);
  height: 10px;
  width: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Drop Box 1 */

.cf_project {
  padding: 1rem;
}

.project-header__container {
  padding: 1rem 1rem 2.5rem;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  margin-top: -50px;
}

.project-header__logo-container {
  transform: translate(-50%, -46px);
  position: absolute;
  left: 50%;
}
.project-header__title {
  padding: 1rem;
  font-size: 1.5rem;
}

.project-header__sum {
  color: var(--Dark-gray);
  padding: 1rem;
  line-height: 1.5;
}
.project-header__actions {
  display: flex;
  justify-content: center;
}

.project-header__actions > * {
  margin: 0 0.5rem;
}
.btn--image img {
  width: 45px;
}
.btn--lable {
  display: none;
}
.btn {
  padding: 1rem 2rem;
  background: var(--Moderate-cyan);
  border: none;
  border-radius: 24px;
  color: white;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}
.btn--flex {
  padding: 0rem 2rem;
}
.btn--image {
  padding: 0rem;
  padding: 0rem;
  background: none;
  border: none;
}

.btn--oss {
  background-color: var(--Dark-gray);
}
progress {
  border-radius: 7px;
  width: 80%;
  height: 16px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
progress::-webkit-progress-bar {
  background-color: var(--Moderate-cyan);
  border-radius: 7px;
}
progress::-webkit-progress-value {
  border-radius: 7px;
  background-color: var(--Moderate-cyan);
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.06);
}
progress::-moz-progress-bar {
  border-radius: 7px;
  background-color: var(--Moderate-cyan);
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.06);
}

/*  */

.project-metrics__container {
  padding: 1rem 1rem 2.5rem;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.project-metrics__value {
  font-size: 2.25rem;
}

.project-metrics__text {
  color: var(--Dark-gray);
  padding: 1rem 0;
}

.project-metrics__list {
  padding: 1rem;
}

.project-metrics__divider {
  border-bottom: 0.1rem solid hsla(0, 0%, 47.8%, 0.39);
  width: 100px;
  margin: 0.5rem auto;
}

.project-metrics__Progress-bar-con {
  margin: 1rem 0;
}

.project-metrics {
  margin: 2rem 0;
}

.project-details__container {
  padding: 1rem;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.project-details__summary-title {
  margin: 1rem 0;
}

.project-details__summary-text {
  color: var(--Dark-gray);
}

.project-details__summary-text > p {
  padding: 1rem 0;
}

.project-reward__list {
  padding: 0.5rem;
  text-align: left;
  background-color: white;
}

.project-reward__list p {
  color: var(--Dark-gray);
}

.project-reward__pledge {
  color: var(--Moderate-cyan);
  margin: 0.5rem 0;
}

.project-reward__quantity .project-reward__quantity-value {
  font-size: 2.5rem;
  color: black;
  font-weight: 700;
  padding-right: 1rem;
}

.project-reward__quantity {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.project-reward__item--oos,
.mc-rewards__item--oos {
  opacity: 0.4;
}
.project-reward__item {
  padding: 2rem 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}
.project-reward__item:not(.project-reward__item:first-of-type) {
  margin-bottom: 1.5rem 0;
}

/* ___________________ */

.mc-success {
  text-align: center;
  padding: 1rem 1rem 1.5rem;
}

.mc-success__icon-con {
  margin: 1rem 0;
}
.mc-success__title {
  margin: 1.5rem 0;
}

.mc-success__text {
  color: var(--Dark-gray);
  margin: 1rem 0;
}
.mc-rewards__main {
  border-bottom: 2px solid hsla(0, 0%, 47.8%, 0.23);
  padding: 1rem;
}

.pledge-form__container {
  padding: 1rem;
}

.pledge-form__text {
  text-align: center;
  margin: 1rem 0;
}

.pledge-form__main {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.pledge-form__num-input {
  -webkit-appearance: none;
  margin: 0;
  width: 100px;
  border-radius: 40px;
  padding: 0 2rem;
  border: 1px solid hsla(0, 0%, 47.8%, 0.38);
  font-weight: bold;
  position: relative;
}

.pledge-form__num-input::before {
  content: "$";
  position: absolute;
  left: 4px;
}

.pledge-form {
  overflow: hidden;
  display: none;
}
.pledge-form--open {
  display: block;
}
.btn-label {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url("./images/image-hero-desktop.jpg");
    height: 400px;
    background-position: center;
  }
  .nav_menu {
    display: none;
  }
  .nav {
    position: static;
    display: block;
    transform: translateX(0);
    z-index: 0;
  }
  .nav__list {
    display: flex;
    background-color: transparent;
    width: auto;
    flex-direction: row;
  }
  .nav__list.nav--closed {
    display: flex;
  }
  .nav__item {
    padding: 0 1.25rem;
  }
  .nav__item:not(:last-of-type) {
    border-bottom: none;
  }
  .nav_link {
    color: white;
  }
  .nav__container {
    max-width: 1200px;
  }
  .overlay + .nav {
    position: static;
  }
  .project-header__container {
    margin-top: -85px;
  }

  .cf_project {
    max-width: 660px;
    margin: 0 auto;
  }

  .project-header__actions {
    justify-content: space-between;
  }

  :root {
    font-size: 16px;
  }

  .project-metrics__list {
    display: flex;
    justify-content: space-between;
  }

  .project-metrics__divider {
    border: 1px solid hsla(0, 0%, 47.8%, 0.39);
    display: none;
  }

  progress {
    width: 100%;
  }

  .project-metrics__container {
    padding: 1rem 1.5rem 2.5rem;
  }

  .project-details__container {
    padding: 1rem 1.5rem;
  }

  .project-metrics__item {
    text-align: left;
    flex-grow: 1;
  }

  .project-metrics__item:nth-of-type(2) {
    border-left: 1px solid hsla(0, 0%, 47.8%, 0.44);
    border-right: 1px solid hsla(0, 0%, 47.8%, 0.44);
    padding-left: 1.5rem;
  }

  .project-metrics__item {
    border: none;
    padding: 0 1rem;
  }

  .project-reward__flex-blox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .project-reward__item {
    padding: 1.5rem 1rem;
  }

  /* _____________________________________ */

  .pledge-form__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pledge-form__num-input {
    margin: 0 1rem;
  }

  .mc-rewards__pledge {
    padding: 0 1rem;
  }

  .mc-rewards__quantity {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .mc-rewards__main {
    padding: 1rem 1rem 2rem;
    position: relative;
  }

  .project-modal__container {
    width: max-content;
  }

  .mc-success {
    width: 380px;
  }

  .mc-rewards__box--a {
    display: flex;
    align-items: center;
  }

  .mc-rewards {
    width: 660px;
  }

  .projectc-modal__close-btn {
    padding-top: 0.5rem;
  }

  /* ______________________________ */

  /* Inline #3 | http://localhost:3000/ */

  .btn:hover,
  .btn:active {
    background-color: var(--Dark-cyan);
    border: none;
    outline: none;
  }

  .mc-rewards__title:hover {
    color: var(--Moderate-cyan);
  }

  .btn.btn--flex.btn--image:hover {
    background-color: transparent;
  }

  .pledge-form__num-input:hover,
  .pledge-form__num-input:active,
  .pledge-form__num-input:focus,
  .pledge-form__num-input:focus-visible {
    border: 1px solid var(--Dark-cyan);
    outline: none;
  }
  .mc-rewards__title {
    cursor: pointer;
  }

  .btn--image {
    background: transparent;
  }

  .button-container {
    border-radius: 20px;
    background-color: hsla(0, 0%, 47.8%, 0.22);
    padding-right: 1rem;
  }

  .btn-label {
    display: block;
    padding: 0 1rem;
    text-transform: capitalize;
    color: var(--Dark-gray);
  }

  .btn--image {
    display: flex;
    align-items: center;
  }
  .button-container--bmk {
    background-color: hsla(176, 50%, 47.1%, 0.2);
  }
  .btn-label--bmk {
    color: var(--Moderate-cyan);
  }
}
